@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    background: transparent;
    
  }
 
input:focus{
outline: none;
}

#sections,#bench{
    box-shadow: 
    0 0 0 10px hsl(225, 100%, 75%), 
    0 0 0 15px hsl(225, 100%, 80%),
    0 0 0 20px hsl(225, 100%, 85%),
    0 0 0 25px hsl(225, 100%, 90%),
    0 0 0 30px hsl(225, 100%, 95%);
}
